# ==============================================================================
# PLANTILLA DE VARIABLES DE ENTORNO (Ejemplo / Documentación)
# Copia este archivo a '.env' y completa los valores correspondientes
# ==============================================================================

# URL Base de la aplicación bajo prueba
BASE_URL=https://www.saucedemo.com

# Credenciales de usuario estándar (Happy Path)
STANDARD_USER=
STANDARD_PASSWORD=

# Credenciales inválidas (Negative Path)
INVALID_USER=
INVALID_PASSWORD=
